---
import "@fontsource-variable/source-code-pro";

import Header from "../components/Header.astro";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>
    </head>
    <body
        class="bg-gray-200 flex flex-col items-center justify-center min-h-screen border-[16px] border-white border-solid font-mono"
    >
        <Header />
        <slot />
    </body>
</html>
